$desktop_size: 1200
$tablet_size: 768
$mobile_size: 480
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700')
@import url('https://fonts.googleapis.com/earlyaccess/notosanstc.css')
*
    font-family: "PT Sans","Noto Sans TC",sans-serif
    box-sizing: border-box
body,ul,li,h1,h2,h3,h4,h5,h6,p
    margin: 0
    padding: 0
.full-width
    width: 100%
.fixed-width
    width: 1200px
    margin: auto
$list1 : sm md lg
$list2 : sm md
$list3 : sm
@for $i from 1 through 12
    [class^="col"]
        float: left
    .col-#{$i}
        width: calc(100% / 12 * #{$i})
        padding: 15px
    .col-gap-#{$i}
        width: calc(100% / 12 * #{$i} - 30px)
        margin: 0 15px
    @each $size1 in $list1
        @media screen and (min-width: $desktop_size)
            .col-#{$size1}-#{$i}
                width: calc(100% / 12 * #{$i})
            .col-#{$size1}-gap-#{$i}
                width: calc(100% / 12 * #{$i} - 30px)
                margin: 0 15px
    @each $size2 in $list2
        @media screen and (max-width: $desktop_size) and (min-width: $tablet_size)
            .col-#{$size2}-#{$i}
                width: calc(100% / 12 * #{$i})
            .col-#{$size2}-gap-#{$i}
                width: calc(100% / 12 * #{$i} - 30px)
                margin: 0 15px
    @each $size3 in $list3
        @media screen and (max-width: $mobile_size)
            .col-#{$size3}-#{$i}
                width: calc(100% / 12 * #{$i})
            .col-#{$size3}-gap-#{$i}
                width: calc(100% / 12 * #{$i} - 30px)
                margin: 0 15px
.clearfix::after
    content: ""
    display: block
    clear: both
.background
    background-repeat: no-repeat
    background-size: cover
    background-position: center
$color: white red blue black gray
@each $fc in $color
    .fc-#{$fc}
        color: $fc
    .bgc-#{$fc}
        background-color: $fc
.text-center
    text-align: center
.tdn
    text-decoration: none
.btn
    display: inline-block
    padding: 5px 15px
    text-align: center
.btn-2x
    padding: 10px 30px
.btn-3x
    padding: 15px 45px
@for $i from 5 through 100
    $sign: top bottom left right
    @each $arrow in $sign
        .p-#{$arrow}-#{$i}
            padding-#{$arrow}: #{$i}px
        .m-#{$arrow}-#{$i}
            margin-#{$arrow}: #{$i}px
        .fz-#{$i}
            font-size: #{$i}px