<!DOCTYPE html>
html(lang="zh-TW")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="style.css")
    body
        include nav.pug
        header.full-width.backgorund.font-color-white.text-center
            .fixed-width
                h1 TITLE
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur iste commodi eaque quas ab, doloremque asperiores. Iste possimus sunt soluta?
                a.btn.btn-2x.fc-white.bgc-gray.tdn.m-top-10(href="#") More
                a.btn.btn-2x.fc-gray.bgc-white.tdn.m-top-10(href="#") More