nav.full-width
    .fixed-width
        .logo logo
        .menu
            ul
                li
                    a(href="#") Menu1
                li
                    a(href="#") Menu2
                li
                    a(href="#") Menu3
                li
                    a(href="#") Menu4
                li
                    a(href="#") Menu5